user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

events { worker_connections 1024; }

http {

    sendfile on;

    server {

        listen 80;

        location / {
            proxy_pass http://example.com/;
            proxy_set_header  X-Real-IP  $remote_addr;
        }
    }
}
